extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Maryane Pinheiro
        h6.lead.text-light
          | QA Engineer


        .portfolio-bio
          p.lead
            | Quality-driven, hard-working QA Engineer that loves to help build and deliver
            | amazing software and products, following the best practices on the industry, and provide the
            | best experience to the customers.
          p.lead
            | I am passionate about technologies and to learn new skills.
          p.lead
            | I am a QA Engineer that is discovering a new skill while I am learning JavaScript. I didn't know | how much I would love to be a web developer.
            | My knowledge as a QA Engineer and about JavaScript will help me to understand and improve my test | scripts.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills


        ul
          li HTML
          li CSS
          li JavaScript
          li Node
          li Pug
          li Express
          li Json
          li SASS
          li Bootstrap
          li React
          li jQuery
          li SQL

        h6 Contact Info
        ul
          li +1 778-957-2369
          li maryanelbrandao@gmail.com


        a.button.expanded(href='https://www.linkedin.com/in/maryanebrandao/') LinkedIn
        a.button.expanded(href='https://github.com/maryanelbrandao') GitHub
        a.button.expanded(href='https://twitter.com/maryanepinheiro') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
